@font-face {
  font-family: 'NeuePlakCondensedBlack';
  src: url('/assets/NeuePlakCondensedBlack.otf');
}

@font-face {
  font-family: 'NeuePlakRegular';
  src: url('/assets/NeuePlakRegular.otf');
}

* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  color: #333;
}

.main-section {
  width: 100%;
}

.background-video {
  width: 100%;
}

.content-overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 57%;
}

.text-container {
  width: 56%;
  color: rgb(0, 0, 0);
}

.text-container h1 {
  font-family: 'NeuePlakCondensedBlack';
  font-size: 105px;
  margin-bottom: 2rem;
}

.text-container p {
  font-family: 'NeuePlakRegular';
  font-size: 12px;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.text-container button {
  font-family: 'NeuePlakRegular';
  font-size: 14px;
  color: white;
  padding: 1rem 2rem;
  background: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.text-container button:hover {
  background: #f0f0f0;
}


@media (max-width: 768px) {
  section {
    padding: 1rem 0.25rem;
    width: 90%;
  }
}
